@model MvcMovie.Models.MovieGenreViewModel


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-warning">Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p class="text-warning">

        <select class="btn border border-warning bg-black text-warning" asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input class="btn border border-warning text-warning" type="text" asp-for="SearchString" />
        <input class="btn text-warning btn-outline-warning" type="submit" value="Filter" />
    </p>
</form>


<div class="row">
    @foreach (var item in Model.Movies )
    {
        <div class="col-md-4">
            <div class="card mb-4  bg-dark bg-gradient">

                <div class="card-body">
                   
                    <h5 class="card-title text-warning text-opacity-75">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text text-warning text-opacity-50">Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate)</p>
                    <p class="card-text text-warning text-opacity-50">Genre: @Html.DisplayFor(modelItem => item.Genre)</p>
                    <p class="card-text text-warning text-opacity-50">Price: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p class="card-text text-warning text-opacity-50">Rating: @Html.DisplayFor(modelItem => item.Rating)</p>
                    <p class="card-text" style="background-image:@Html.DisplayFor(modelItem=> item.pathFile))"><img src="@Html.DisplayFor(modelItem => item.pathFile)" /></p>


                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    
                </div>
            </div>
        </div>
    }

  
</div>
